h1{
    background-color: chartreuse;
    text-decoration: underline;
    text-align: center;

}

figure{
    margin-left: 400px;
    font-size: 28px;
    font-weight: bold;
}
article{
    margin-left: 20px;
}
/*li{
    background-color: rgb(252, 216, 11);padding-left: 14px; border-left: 14px;
}*/

h3{
    text-decoration: underline;
    color: brown;
    background-color: aqua;
}
